This is the Potato Cannon. It's intended use is to test Potato

In [1]:
from Potato import read_lightcurve
from Potato import LocateLC
from Potato import search
from Potato import find_dip
from Potato import find_dipDF
from Potato import camparam
from Potato import box
from Potato import camfilter
from Potato import camfilter2
from Potato import plot_dip
from Potato import plot_zoom
from Potato import period
from Potato import phase

In [2]:
asasnum = 609886184506

In [3]:
dfv, dfg = read_lightcurve(asasnum, guide='Updated_LC_data')
dfg

,JD,Mag,Mag_err,Quality,Cam_number,Phot_filter,Camera
0,2.458177e+06,12.946180,0.01,1,2,0,bj
1,2.458283e+06,12.922774,0.01,1,2,0,bj
2,2.458285e+06,12.937309,0.01,1,2,0,bj
3,2.458302e+06,12.949830,0.01,1,2,0,bj
4,2.458304e+06,12.918662,0.01,1,3,0,bi
...,...,...,...,...,...,...,...
1815,2.460450e+06,13.009451,0.01,1,5,0,bF
1816,2.460452e+06,13.031877,0.01,1,7,0,bn
1817,2.460456e+06,13.026974,0.01,1,5,0,bF
1818,2.460457e+06,13.067935,0.01,1,3,0,bi
1819,2.460458e+06,13.023061,0.01,1,3,0,bi

In [ ]:
#print(LocateLC('SURP2024/Test_Data/brayden_test_data'))

In [ ]:
#print(search(377957919895, folder='SURP2024/Test_Data/brayden_test_data'))

In [4]:
dfg, peak, prop, length = find_dip(asasnum, guide='Updated_LC_data')
print(peak)
print(prop)
print(length)

[]
{'peak_heights': array([], dtype=float64), 'prominences': array([], dtype=float64), 'left_bases': array([], dtype=int64), 'right_bases': array([], dtype=int64), 'widths': array([], dtype=float64), 'width_heights': array([], dtype=float64), 'left_ips': array([], dtype=float64), 'right_ips': array([], dtype=float64)}
0

In [5]:
Peaknum = find_dipDF(asasnum, guide='Updated_LC_data')
Peaknum

,asas_sn_id,Number of dips,Average Magnitude,Standard Deviation of Magnitude,Lowest Dip,Difference of average and lowest dip,Time of Lowest Dip,Peaks per time
0,609886184506,0,13.036088,0.076778,13.277183,0.241095,2.459688e+06,0.0

In [6]:
result = camparam(asasnum, guide='Updated_LC_data')
result

     asas_sn_id Camera    Average     Median  ST Deviation
0  609886184506     bE  13.036711  13.043445      0.078111
1  609886184506     bF  13.035480  13.046034      0.074753
2  609886184506     bi  13.036762  13.036620      0.078334
3  609886184506     bj  13.037996  13.051039      0.073682
4  609886184506     bm  13.034745  13.038982      0.077393
5  609886184506     bn  13.031721  13.033055      0.079834

In [7]:
filt = box(asasnum, guide='Updated_LC_data')
filt

Empty DataFrame
Columns: [asas_sn_id, Number of dips, Average Magnitude, Standard Deviation of Magnitude, Lowest Dip, Difference of average and lowest dip, Time of Lowest Dip, Peaks per time]
Index: []

In [8]:
camfilter(asasnum, guide='Updated_LC_data')

,asas_sn_id,Number of dips,Average Magnitude,Standard Deviation of Magnitude,Lowest Dip,Difference of average and lowest dip,Time of Lowest Dip,Peaks per time
0,609886184506,0,13.036088,0.076778,13.277183,0.241095,2.459688e+06,0.0

In [ ]:
camfilter2(asasnum, guide='Updated_LC_data')

In [ ]:
plot_dip(asasnum, guide='Updated_LC_data')

In [ ]:
#plot_zoom(377957919895, guide='SURP2024/Test_Data/brayden_test_data/')

In [ ]:
#t, df = period(377957919895, 6, guide='SURP2024/Test_Data/brayden_test_data/')
#print(t)
#df

In [ ]:
#phase(377957919895, 6, guide='SURP2024/Test_Data/brayden_test_data/')